
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="tz-gallery">
                <div class="row">
                    <div class="col-sm-7">
                        <h2>Videos</h2>
                    </div>
                    <div class="col-sm-5">
                        <a href="#" class="text-secondary">Browse all videos</a>
                    </div>
                </div>
                <div class="row" *ngIf="videos && videos.length">
                    <div class="col-sm-12 col-md-8">
                        <div class="img-container lightbox">
                            <img src="{{videos[0]?.thumbnail}}" height="100%" alt="Traffic">
                            <div class="img-content">
                              <h1>{{videos[0]?.title}}</h1>
                              <p>{{videos[0]?.description}}</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="row">
                            <a class="lightbox" >
                                <img src="{{videos[1]?.thumbnail}}" alt="Bridge">
                            </a>
                        </div>
                        <div class="row" style="margin-top: 4px;">
                            <a class="lightbox" >
                                <img src="{{videos[2]?.thumbnail}}" alt="Bridge">
                            </a>
                        </div>
                    </div>
                   
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" >
                            <img src="{{videos[3]?.thumbnail}}" alt="Bridge">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" >
                            <img src="{{videos[4]?.thumbnail}}" alt="Bridge">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="card bg-light" style="height: 100%; width: 100%;">
                            <div class="card-body" style="padding:70px; text-align: center; justify-content: center;">
                                <div class="row">
                                    <div class="col-md-4 no-gutters">
                                        <button mat-fab color="primary" aria-label="Example icon button with a heart icon">
                                            <mat-icon>cloud_upload</mat-icon>
                                          </button>
                                    </div>
                                    <div class="col-md-8 no-gutters">
                                        <h3>
                                            Upload Your Own Video
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="tz-gallery">
                <app-activities></app-activities>
            </div>
        </div>
    </div>
  
</div>
