<div class="container-fluid" style="margin-top:10px">
    <app-videos></app-videos>
</div>

<div class="container-fluid">
   <app-people></app-people>
</div>

<div class="container-fluid">
 </div>
 
<mat-divider></mat-divider>

<div class="footer-area">

<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">For Business</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Suggestions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Help & FAQs</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
  </ul>
  </div>
